body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/CatBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    flex-direction: column;
    position: relative;
    padding: 6rem 1rem;
}

.button-container {
    display: grid; /* Changed to grid layout */
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 2rem; /* Increased spacing between buttons */
    width: 100%; /* Ensures the container spans the full width */
    max-width: 800px; /* Limits the maximum width of the grid */
}

.home-button {
    display: inline-block;
    padding: 30px 50px; /* Increased padding for larger buttons */
    font-size: 2em; /* Increased font size */
    font-weight: 600;
    color: white;
    background-color: rgba(83, 37, 23, 0.9);
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    border: 2px solid gold;
    box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.home-button span {
    position: relative;
    z-index: 3;
}

.home-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/oupi goupi.jpg'); /* Assure-toi que ce chemin est bon */
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
    background-blend-mode: overlay;
    border-radius: 10px;
}

.home-button:hover {
    background-color: rgba(146, 29, 29, 0.9);
    transform: scale(1.05);
}

.home-button:hover::before {
    opacity: 1;
}

p {
    color: aliceblue;
    font-size: 2.5em;
    margin: 0;
}

.welcome-message {
    font-size: 3em;
    font-weight: 600;
    color: gold;
    margin-bottom: 40px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
