/* ---- Barre de Navigation ---- */
.navbar {
    background: rgba(83, 37, 23, 0.986);
    padding: 0.2rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
}