body {
    font-family: 'Poppins', sans-serif;
    background-image:url('../images/CatBackground.png');
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    background-attachment: fixed;
}

#Section-connexion {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

#Section-image {
    --background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#Lobotomisateur {
    width: 100%;
    max-width: 30rem;
    height: 100%;
    max-height: 30rem;
    border: solid black 0.2rem;
    border-radius: 20%;
}

#bulle {
    position: absolute;
    top: 25%;  /* Ajuste la position verticale */
    left: 75%; /* Ajuste la position horizontale */
    width: 15rem; /* Ajuste la taille de la bulle */
    transform: translate(-50%, -50%); /* Centre la bulle */
}

#texteBulle {
    position: absolute;
    width: 13.1875rem; /* Ajuste selon la taille de la bulle */
    height: 8.75rem;
    top: 23%;  /* Ajuste la position verticale */
    left: 75%; /* Ajuste la position horizontale */
    transform: translate(-50%, -50%); /* Centre la bulle */
    z-index: 1;
    text-align: left
}
#texteBulle p{
    color: black;
    font-size: 1.3rem;
    margin: 10px;
}

#Section-form {
    --background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formulaire {
    background-color: rgba(83, 37, 23, 0.986);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .625rem;
}

label {
    font-size: 1.5rem;
    color:aliceblue
}

.mdpInput, .usernameInput {
    width: 100%;
    padding: 0.1rem; 
    font-size: 0.8rem; 
    border: 2px solid #575454;
    border-radius: 0.5rem;
    height: 2rem; 
}

.sinscrire{
    background-color: #921d1d;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.75rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
}

button {
    background-color: #494949;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.75rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
}

#erreurs-mdp {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    z-index: 3;
}
